<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhjqsw.wm.water.dao.WmOperateRecordMapper">

  <resultMap id="BaseResultMap" type="com.yhjqsw.wm.water.model.WmOperateRecord">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="operate_module" jdbcType="VARCHAR" property="operateModule" />
	<result column="operate_module_record_id" jdbcType="BIGINT" property="operateModuleRecordId" />
	<result column="operate_type" jdbcType="VARCHAR" property="operateType" />
	<result column="operate_reason" jdbcType="VARCHAR" property="operateReason" />
	<result column="operate_user" jdbcType="VARCHAR" property="operateUser" />
	<result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <insert id="add" parameterType="com.yhjqsw.wm.water.model.WmOperateRecord">
    insert into wm_operate_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operateModule != null">
        operate_module,
      </if>
      <if test="operateModuleRecordId != null">
        operate_module_record_id,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operateReason != null">
        operate_reason,
      </if>
      <if test="operateUser != null">
        operate_user,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operateModule != null">
        #{operateModule,jdbcType=VARCHAR},
      </if>
      <if test="operateModuleRecordId != null">
        #{operateModuleRecordId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="operateReason != null">
        #{operateReason,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null">
        #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from wm_operate_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.yhjqsw.wm.water.model.WmOperateRecord">
    update wm_operate_record
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="operateModule != null">
        operate_module = #{operateModule,jdbcType=VARCHAR},
      </if>
      <if test="operateModuleRecordId != null">
        operate_module_record_id = #{operateModuleRecordId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="operateReason != null">
        operate_reason = #{operateReason,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null">
        operate_user = #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from wm_operate_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from wm_operate_record where 1=1
    <bind name="pattern" value="'%' + _parameter.operatemodule + '%'" />
    <if test="id != null and id != ''">
      and operate_module_record_id = #{id}
    </if>
    <if test="operatemodule != null and operatemodule != ''">
      and operate_module like #{pattern}
    </if>
    <if test="begindate != null and begindate != '' ">
      and operate_time &gt;= #{begindate}
    </if>
    <if test="enddate != null and enddate != '' ">
      and operate_time &lt;= #{enddate}
    </if>
  </select>
  
</mapper>